/* Add "Yeseva", "Lobster" and "Poppins" fonts from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&family=Poppins:wght@400;600;700&family=Yeseva+One&display=swap');

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 2rem 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

p {
    /*I am using recommended line-height*/
    line-height: 1.6;
}

.section {
    padding-bottom: 5rem;
}

/* Reuseable Layout */
.bd-grid {
    max-width: 1076px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Home Section start */
.home {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-size: 3.75rem;
    font-weight: 400;
    padding-left: .75rem;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 4px;
    height: 124px;
    background-color: #ff5959;
    border-radius: 5px;

}

.title--color {
    color: #FFAD5A;
}

.home__text {
    font-size: 1.125rem;
    color: #3E3E3E;
    margin-top: 1.5rem;
}

.btn-link {
    display: inline-block;
    padding: .75rem 2.125rem;
    border-radius: 5px;
    margin-top: 1.25rem;

}

.btn-link--orange {
    background-color: #ff5959;
    color: #fff;
}

.scroll-down {
    display: block;
    font-size: 1rem;
    color: #434343;
    margin-top: 2rem;
}

.home__img {
    width: 420px;
    justify-self: center;
}

/* Start Mission section */
.mission {
    margin-left: auto;
    margin-right: auto;
}

.mission__title {
    font-size: 3rem;
    font-weight: 700;
    color: #13103A;
    text-align: center;
    margin-bottom: 2rem;
}

.mission__modules {
    grid-template-columns: repeat(3, 1fr);
}

.mission__module {
    border-radius: 1.5rem;
    padding: 1.5rem 1.875rem 2rem;
    background-color: #fff;
}

.mission__module h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.125rem 0;
}

.mission__module img {
    width: 126px;
}

.mission__module p {
    font-size: 1rem;
    color: #424242;
}

.mission__module:nth-child(1) {
    background-color: #edf5f6;
}

.mission__module:nth-child(2) {
    background-color: #ffeeee;
}

.mission__module:nth-child(3) {
    background-color: #fff4d6;
}

/* Develop & Community Section Start */
.develop,
.community {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1.33fr 2fr;
    column-gap: 4.5rem;
    align-items: center;
}

.develop__title,
.community__title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 1.25rem;
}

.community {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    grid-template-columns: 2fr 1.33fr;
}

/* Start Service Area */
.service {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    margin-top: 1rem;
}

.service__title {
    font-size: 2rem;
    font-weight: 600;
    color: #1d2043;
    margin-bottom: 2rem;
}

.service__text {
    font-size: 1rem;
    margin-bottom: 3rem;
    color: #444444;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
}

.service__item {
    display: flex;
    align-items: center;
}

.service__item h3 {
    font-weight: 400;
    margin-left: .625rem;
}

.service__item>div {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #ff5959, #ec7878);
    text-align: center;
}

.service__icon {
    text-align: center;
    line-height: 42px;
    font-size: 1.25rem;
    color: #fff;
}

/* Start Footer area */
.footer {
    height: 170px;
    background-color: #0B0D17;
}

.footer__text {
    font-family: 'Lobster', cursive;
    font-size: 2.25rem;
    color: #fff;
    text-align: center;
    padding: 2.5rem 0 .625rem;
}

.footer__text--color {
    color: #ff5959;
}

.footer__copywrite {
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    font-size: .875rem;
    text-align: center;
}